<div id="Find">
    <form method="post">
        <div id="LeftColumn">
            <p>
                <label>Car's Name:</label>
            </p>
            <p>
                <input type="text" name="Nazvanie" />
                <label id="N" >@ViewBag.N</label>
                <label id="A">@ViewBag.A</label>
                <label id="Y">@ViewBag.Y</label>
            </p>
            <p>
                <label>Mileage:</label>
            </p>
             <p>
                <input type="text" name="Mileage" />
            </p>
            <p>
                <label>Year of release:</label>
            </p>
             <p>
                <input type="text" name="Year" />
            </p>
            <p>
                <input type="submit" name="car" />
            </p>
            <hr />
        </div>
        <div id="RightColumn">
            <p>
                <label>Find Name:</label>
            </p>
             <p>
                <input type="text" name="fn" />
                <input type="submit" name="car1"/>
            </p>
            <p>
                <label>Find Mileage:</label>
            </p>
             <p>
                <input type="text" name="fa" />
                <input type="submit" name="car2"/>
            </p>
            <p>
                <label>Find Year:</label>
            </p>
             <p>
                <input type="text" name="fy" />
                <input type="submit" name="car3"/>
            </p>
        </div>
    </form>
</div>