<div id="Mazda_RX_7">
    
    
    
    <div id="RightColumn1">
<h2>Mazda RX-7</h2>
<p>Двигатель: <a href="#">3.0 л/ 280 л.с. / Бензин</a> </p>
<p>Год выпуска: <strong>1993 </strong></p>
<p>Пробег: <strong>15 700 км </strong>.</p>
<p>Привод: <strong>задний </strong> </p>
<p>Коробка: <strong>автомат</strong> </p>
<p>Руль: <strong>правый</strong></p>
</div>
<div id="LeftColumn">
    <p>
       <img src="https://s1.auto.drom.ru/photo/3jeZgIBxX6DkHrXvkKvkubCHFTLaFXlTAoAiQ9BphRNYlTDvaDet7c7dV19Z9GH071Yml_AyQyZmEAWkL5dgP-nSjRIS.jpg" 
       height="400" width="620"  class="mazda" />
    </p>
    <form action="https://krasnodar.drom.ru/mazda/rx-7/49664209.html " target="_blank">
    <button  class="srcc">
       
         <a>
             Перейти к объявлению
             </a>
             
         </p></button>
       </form>
       </div>

</div>