<div id="Nissan_Silvia">
 
  <div id="RightColumn1">
<h2>Nissan Silvia VII (S15)</h2>
<p>Двигатель: <a href="#">2.0 л / 250 л.с. / Бензин</a> </p>
<p>Год выпуска: <strong>1999 </strong></p>
<p>Пробег: <strong>121 000 км </strong>.</p>
<p>Налог: <strong>18 750 ₽ / год </strong> </p>
<p>Привод: <strong>задний </strong> </p>
<p>Коробка: <strong>механическая</strong> </p>
<p>Руль: <strong>правый</strong></p>

</div>
<div id="LeftColumn">
<div> <p  20rem;" align = *@ >
       <img src="https://avatars.mds.yandex.net/get-autoru-vos/1980279/0ad30fe9e2c5cc7578ff6d8a7024aeff/1200x900n" 
       height="400" width="620"  class="mazda" />
    </p>
    <form action="https://auto.ru/cars/used/sale/nissan/silvia/1116668140-aa3ea158/" target="_blank"> 
    <button src="" onclick="https://auto.ru/cars/used/sale/nissan/silvia/1116668140-aa3ea158/" class="srcc">
       
         <p>
             Перейти к объявлению
         </p></button>
         </form>

 </div>
 </div>
 
 </div>
