<div id="Toyota_Mark_II">
    
     <div id="RightColumn1">
<h2>Toyota Mark II VII (X90)</h2>
<p>Двигатель: <a href="#">2.5 л / 250 л.с. / Бензин</a> </p>
<p>Год выпуска: <strong>1995 </strong></p>
<p>Пробег: <strong>137 000 км </strong>.</p>
<p>Налог: <strong>28 000 ₽ / год </strong> </p>
<p>Привод: <strong>задний </strong> </p>
<p>Коробка: <strong>механическая</strong> </p>
<p>Руль: <strong>правый</strong></p>
</div>
<div id="LeftColumn">
    <p>
       <img src="https://avatars.mds.yandex.net/get-autoru-vos/2180204/de88998cc1f59bbd4d6232a8e17161d0/1200x900n" 
       height="400" width="620"  class="mazda" />
    </p>
    <form action="https://auto.ru/cars/used/sale/toyota/mark_ii/1117970486-6d10509a/" target="_blank">
    <button src="" onclick="https://auto.ru/cars/used/sale/nissan/silvia/1116668140-aa3ea158/" class="srcc">
       
         <p>
             Перейти к объявлению
         </p></button>
         </form>
         </div>
</div>